<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pikolo.pikolo.mapper.lookalike.LookAlikeDAO">
<select id="selectLookalikeKO" resultType="com.pikolo.pikolo.dto.ContentDTO" parameterType="int">
SELECT * FROM CONTENT_KO WHERE CONTENT_ID = #{id}
</select>
<select id="selectLookalikeEN" resultType="com.pikolo.pikolo.dto.ContentDTO" parameterType="int">
SELECT * FROM CONTENT_EN WHERE CONTENT_ID = #{id}
</select>
<select id="selectLookalikeJP" resultType="com.pikolo.pikolo.dto.ContentDTO" parameterType="int">
SELECT * FROM CONTENT_JP WHERE CONTENT_ID = #{id}
</select>
</mapper>