<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pikolo.pikolo.mapper.notice.NoticeDAO">
    <select id="selectNoticeListKo" resultType="com.pikolo.pikolo.dto.notice.NoticeDTO">
        SELECT * FROM notice_ko ORDER BY created_at DESC
    </select>
    <select id="selectNoticeListEn" resultType="com.pikolo.pikolo.dto.notice.NoticeDTO">
        SELECT * FROM notice_en ORDER BY created_at DESC
    </select>
    <select id="selectNoticeListJp" resultType="com.pikolo.pikolo.dto.notice.NoticeDTO">
        SELECT * FROM notice_jp ORDER BY created_at DESC
    </select>
</mapper>